@charset "utf-8";


@media only screen and (min-width:1920px){
    body{
        background-image: url("./images/half-background-1300-912.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }
    .main-area{
        width:700px;
        left:120px;
        top:calc(50% - (209px / 2));
    }
    .main-area h1{
        display:block;
    }
    h2, h3, h4, h5{
        display:none;
    }
    button#mybtn{
        width:280px;
        height: 70px;
        left:calc(50%  - 200px);  
    }
    .footer-text{
        font-size:1.4rem;
    }
    .footer .iconArea ul{
        right:80px;
    }
    .footer .iconArea ul li{
       margin:0 20px;
    }
    .footer .iconArea ul li a{
        margin-left:20px;
        width:30px;
        height:30px;
    }
    .footer .iconArea ul li a i{
        font-size:1.625rem;
        bottom:5px;
    }
       
}
@media only screen and (min-width:1400px) and (max-width:1919px){
    body{
        background-image: url("./images/half-background-1300-912.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }
    .main-area{
        width:700px;
        left:85px;
        top:calc(50% - (209px / 2));
    }
    .main-area h1{
        display:block;
    }
    h2, h3, h4, h5{
        display:none;
    }
    button#mybtn{
        width:280px;
        height: 70px;
        left:calc(50%  - 180px);  
    }
    .footer-text{
        font-size:1.4rem;
    }
    .footer .iconArea ul{
        right:80px;
    }
    .footer .iconArea ul li{
       margin:0 20px;
    }
    .footer .iconArea ul li a{
        margin-left:20px;
        width:30px;
        height:30px;
    }
    .footer .iconArea ul li a i{
        font-size:1.625rem;
        bottom:5px;
    }
       
}
@media only screen and (min-width:1280px) and (max-width:1399px){
    body{
        background-image: url("./images/half-background-1200-800.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }
    .main-area{
        width:700px;
        left:85px;
        top:calc(50% - (300px / 2));
    }
    .main-area h2{
        display:block;
        margin-right:40px;
    }
    h1, h3, h4, h5{
        display:none;
    }
    button#mybtn{
        width:280px;
        height: 70px;
        left:calc(50%  - 150px);  
    }
    .footer-text{
        font-size:1.2rem;
    }
    .footer .iconArea ul{
        right:80px;
    }
    .footer .iconArea ul li{
       margin:0 20px;
    }
    .footer .iconArea ul li a{
        margin-left:20px;
        width:30px;
        height:30px;
    }
    .footer .iconArea ul li a i{
        font-size:1.375rem;
        bottom:3px;
    }
       
}
@media only screen and (min-width:1000px) and (max-width:1279px){
    body{
        background-image: url("./images/half-background-768-1024.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }
    .main-area{
        left:150px;
        width:calc(100% -   300px);
        top:calc(50% - (209px / 2));
    }
    .main-area h2{
        display:block;
        margin-right:40px;
    }
    h1, h3, h4, h5{
        display:none;
    }
    button#mybtn{
        width:280px;
        height: 70px;
        left:calc(50%  - 160px);  
    }
    .footer-text{
        font-size:1.2rem;
    }  
    .footer .iconArea ul{
        right:80px;
    }
    .footer .iconArea ul li{
       margin:0 20px;
    }
    .footer .iconArea ul li a{
        margin-left:20px;
        width:30px;
        height:30px;
    }
    .footer .iconArea ul li a i{
        font-size:1.375rem;
        bottom:5px;
    }
}
@media only screen and (min-width:600px) and (max-width:999px){
    body{
        background-image: url("./images/half-background-768-1024.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }
    .main-area{
        width:calc(100% -  200px);
        left:100px;
        top:calc(50% - (400px / 2));
    }
    .main-area h3{
        display:block;
    }
    h1, h2, h4, h5{
        display:none;
    }
    button#mybtn{
        width:280px;
        height: 70px;
        left:calc(50%  - 150px);  
    }
    .footer-text{
        text-align:left;
        margin-left:40px;
        font-size:0.875rem;
    }
    .footer .iconArea ul{
        right:60px;
    }
    .footer .iconArea ul li{
       margin:0 20px;
    }
    .footer .iconArea ul li a{
        margin-left:20px;
        width:30px;
        height:30px;
    }
    .footer .iconArea ul li a i{
        font-size:1rem;
        bottom:5px;
    }
}
@media only screen and (min-width:400px) and (max-width:599px){
    body{
        background-image: url("./images/half-background-414-896.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }
    .main-area{
        width:calc(100% -   30px);
        left:30px;
        top:calc(50% - (400px / 2));
    }
    .main-area h3{
        display:block;
    }
    h1, h2, h4, h5{
        display:none;
    }
    button#mybtn{
        width:250px;
        height: 60px;
        left:50px; 
    }
    .footer{
        width:100%;
        height:80px;
    }
    .footer-text{
        font-size: 0.875rem;
        margin-left:40px;
        margin-right:40px;
        margin-top:30px;
        line-height:20px;
    }
    .footer .iconArea ul{
        right:40px;
            bottom:50px;
    }
    .footer .iconArea ul li{
       margin:0 15px;
    }
    .footer .iconArea ul li a{
        margin-left:0px;
        width:25px;
        height:25px;
    }
    .footer .iconArea ul li a i{
        font-size:0.75rem;
        bottom:5px;
    }
}
@media only screen and (min-width:350px) and (max-width:399px){
    body{
        background-image: url("./images/half-background-414-896.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }
    .main-area{
        width:calc(100% -   10px);
        left:20px;
        top:calc(50% - (350px / 2));
    }
    .main-area h3{
        display:block;
    }
    h1, h2, h4, h5{
        display:none;
    }
    button#mybtn{
        width:250px;
        height: 60px;
        left:40px; 
    }
    .footer-text{
        text-align:center;
        font-size: 0.75rem;
        margin-left:55px;
        margin-right:55px;
        margin-top:35px;
        line-height:20px;
    }    
    .footer{
        width:100%;
        height:80px;
    }

    .footer .iconArea ul{
        right:40px;
            bottom:50px;
    }
    .footer .iconArea ul li{
       margin:0 15px;
    }
    .footer .iconArea ul li a{
        margin-left:0px;
        width:25px;
        height:25px;
    }
    .footer .iconArea ul li a i{
        font-size:0.75rem;
        bottom:5px;
    }       
}


@media only screen and (min-width:300px) and (max-width:349px){
    body{
        background-image: url("./images/half-background-414-896.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }
    .main-area{
        width:calc(100% -   10px);
        left:20px;
        top:calc(50% - (350px / 2));
    }
    .main-area h5{
        display:block;
    }
    h2, h1, h4, h3{
        display:none;
    }
    button{
        width:250px;
        height: 60px;
      left:20px; 
    }
    .footer-text{
        font-size: 0.75rem;
        margin-left:40px;
        margin-right:40px;
        line-height:20px;
    }
}








