@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro:400,500,600");
:root {
  --background: #171627;
  --inputBackground: rgba(75, 69, 89, 0.25); /*button background*/
  --buttonShadowColor: rgba(75, 69, 89, 1);
  --textColor: #36a73a; /*button hover, focus shadow; and form area shadow*/
  --buttonBackground: #2d2b4a;
}

html {
  font-size: 100%;
} /*16px*/

body {
  background: var(--background);
  font-family: "Source Code Pro", monospace;
  font-weight: 400;
  line-height: 2;
  color: var(--textColor);
  overflow-x: hidden;
  overflow-y: auto;
}

p {
  margin-bottom: 1rem;
}

h1,
h2,
h3,
h4,
h5,
button#mybtn {
  margin: 3rem 0 1.38rem;
  font-family: "Source Code Pro", monospace;
  font-weight: 600;
  line-height: 1.9;
}

h1,
button#mybtn span {
  margin-top: 0;
  font-size: 1.802rem;
}

h2 {
  font-size: 1.602rem;
}

h3,
button#submit span {
  font-size: 1.424rem;
}

h4 {
  font-size: 1.266rem;
}

h5 {
  font-size: 1.125rem;
}

small,
.text_small {
  font-size: 0.889rem;
}

.main-area {
  position: absolute;
}

button {
  background-color: var(--buttonBackground);
  color: var(--textColor);
  border: none;
  position: absolute;
  font-weight: 600;
  -webkit-box-shadow: 1px 1px 2px var(--textColor);
  -moz-box-shadow: 1px 1px 2px var(--textColor);
  -ms-box-shadow: 1px 1px 2px var(--textColor);
  -o-box-shadow: 1px 1px 2px var(--textColor);
  box-shadow: 1px 1px 2px var(--textColor);
}

button a {
  color: var(--textColor);
  text-decoration: none;
}

button#mybtn > span > i.material-icons {
  position: relative;
  top: 8px;
  font-size: 2.2rem;
}

button#mybtn:hover {
  -webkit-box-shadow: 1px 1px 6px var(--textColor);
  -moz-box-shadow: 1px 1px 6px var(--textColor);
  -ms-box-shadow: 1px 1px 6px var(--textColor);
  -o-box-shadow: 1px 1px 6px var(--textColor);
  box-shadow: 1px 1px 6px var(--textColor);
}

button#mybtn:focus {
  outline: none;
  border: none;
  -webkit-box-shadow: 1px 1px 6px var(--textColor);
  -moz-box-shadow: 1px 1px 6px var(--textColor);
  -ms-box-shadow: 1px 1px 6px var(--textColor);
  -o-box-shadow: 1px 1px 6px var(--textColor);
  box-shadow: 1px 1px 6px var(--textColor);
}

.footer {
  overflow-x: hidden;
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
  background-color: var(--inputBackground);
}

.footer-text {
  display: block;
  text-align: center;
  color: var(--textColor);
  line-height: 35px;
  font-weight: 500;
}

.footer .iconArea ul {
  margin: 0;
  padding: 0;
  z-index: 10;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  position: absolute;
  bottom: 0px;
}

.footer .iconArea ul li {
  list-style: none;
}

.footer .iconArea ul li a {
  bottom: 0;
  vertical-align: middle;
  position: absolute;
  text-align: center;
  color: var(--textColor);
  -webkit-filter: Alpha(opacity=70);
  -moz-opacity: 0.7;
  -khtml-opacity: 0.7;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  filter: Alpha(opacity=70);
  opacity: 0.7;
  border: 1px solid transparent;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.footer .iconArea ul li a i {
  vertical-align: middle;
  text-align: center;
  position: relative;
}

.footer .iconArea ul li a::before {
  content: "";
  position: absolute;
  vertical-align: middle;
  text-align: center;
  color: var(--textColor);
  line-height: 20px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  transform: scale(0.9);
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  -o-transform: scale(0.9);
  z-index: -1;
}

.footer .iconArea ul li a:hover::before {
  -webkit-box-shadow: 0 0 15px var(--textColor);
  -moz-box-shadow: 0 0 15px var(--textColor);
  -o-box-shadow: 0 0 15px var(--textColor);
  -ms-box-shadow: 0 0 15px var(--textColor);
  box-shadow: 0 0 15px var(--textColor);
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}

.footer .iconArea ul li a:hover {
  color: var(--textColor);
  -webkit-box-shadow: 0 0 5px var(--textColor);
  -moz-box-shadow: 0 0 5px var(--textColor);
  -ms-box-shadow: 0 0 5px var(--textColor);
  -o-box-shadow: 0 0 5px var(--textColor);
  box-shadow: 0 0 5px var(--textColor);
  text-shadow: 0 0 2px var(--textColor);
  -webkit-filter: Alpha(opacity=100);
  -moz-opacity: 1;
  -khtml-opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: Alpha(opacity=100);
  opacity: 100;
}
